<!-- filepond imports -->
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script>
    /* jshint esversion: 11, jquery: true */
    $(document).ready(function() {
    
        // filepond image uploads (partial inspiration: YouTube - The Pylot)
        let images = [];
        let imagesRemainSpan = $("#images-remaining");
        let currentImgCount = parseInt("{{ images|length }}");
        let absoluteMaxImages = parseInt("{{ post.max_images }}");
        let maxImages = absoluteMaxImages - currentImgCount;
        $(imagesRemainSpan).text(maxImages);
        const imageInput = document.getElementById("image-upload");
    
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType
        );
        FilePond.setOptions({
            allowMultiple: true,
            maxFiles: maxImages,
            maxFileSize: "10MB"
        });
        const pond = FilePond.create(imageInput, {
            acceptedFileTypes: ["image/png", "image/jpg", "image/jpeg", "image/webp"],
            onaddfile: (err, img) => {
                if (!err) {
                    images.push(img.file);
                    updateImgsLen();
                    submitBtnVisibility();
                }
            },
            onremovefile: (err, img) => {
                const imageIndex = images.indexOf(img.file);
                if (imageIndex > -1) {
                    images.splice(imageIndex, 1);
                    updateImgsLen();
                    submitBtnVisibility();
                }
            }
        });
    
        // unhide submit button if >0 images to upload
        $("#submit-btn").css("pointer-events", "none");
        function submitBtnVisibility() {
            if (images.length > 0) {
                $("#submit-btn").css("pointer-events", "auto");
            } else {
                $("#submit-btn").css("pointer-events", "none");
            }
        }
    
        // advise how many remaining images available
        updateImgsLen();
        function updateImgsLen() {
            let imageCounterDiv = $("#image-counter");
            let imageCountBtn = $("#image-count-btn");
            let imagesRemaining = maxImages - images.length;
    
            // update alert-color based on number of images (remove class starting with "alert-")
            if (((currentImgCount + images.length) / absoluteMaxImages) * 100 >= 75) {
                // at least 75% used (only 25% remaining --- danger)
                $(imageCounterDiv).removeClass(function(i, className) {
                    return (className.match(/(^|\s)alert-\S+/g) || []).join(" ");
                }).addClass("alert-danger");
            } else if (((currentImgCount + images.length) / absoluteMaxImages) * 100 >= 50) {
                // at least 50% used (only 50% remaining --- warning)
                $(imageCounterDiv).removeClass(function(i, className) {
                    return (className.match(/(^|\s)alert-\S+/g) || []).join(" ");
                }).addClass("alert-warning");
            } else {
                // default - plenty available still
                $(imageCounterDiv).removeClass(function(i, className) {
                    return (className.match(/(^|\s)alert-\S+/g) || []).join(" ");
                }).addClass("alert-success");
            }
            // update text showing remaining number of images
            $(imagesRemainSpan).text(imagesRemaining);
            $(imageCountBtn).text(images.length);
        }
    
        // append all form data to prepare AJAX call
        let formData = new FormData();
        // form being submitted (partial inspiration: YouTube - The Pylot)
        $("#submit-btn").on("click", function(e) {
            // add CSRF token to formData
            formData.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
    
            // length of images array
            formData.append("length", images.length);
    
            images.forEach((img, i) => {
                formData.append(`image-${i}`, img);
            });
    
            // partial inspiration: YouTube - The Pylot
            if ($("form#post-form")[0].checkValidity()) {
    
                let country = "{{ post.country.name|slugify }}";
                let year = "{{ post.start_date|date:'Y' }}";
                let month = "{{ post.start_date|date:'m' }}";
                let day = "{{ post.start_date|date:'d' }}";
                let post_id = "{{ post.id }}";
                let slug = "{{ post.slug }}";
    
                $("body").removeClass("page-load-complete"); // show preloader animation
                $.ajax({
                    url: $("#post-form").attr("action"),
                    type: "POST",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    enctype: "multipart/form-data",
                    success: function() {
                        console.log("Post successful!");
                        window.location.href = `/blog/${country}/${year}/${month}/${day}/${post_id}/${slug}/`;
                    },
                    error: function(data) {
                        let errText = data.responseText;
                        // specific error is between `<pre></pre>` elements
                        let errMsg = errText.match(/<pre>[\s\S]*?<\/pre>/g)[0];
                        // remove `<pre></pre>` tags and trim excess whitespace
                        let msg = errMsg.replaceAll("<pre>", "").replaceAll("</pre>", "").replaceAll("&#x27;", "").trim();
                        $("#error-msg").text(msg);
                        $("#form-errors").removeClass("d-none");
                        $("body").addClass("page-load-complete"); // hide preloader animation
                    }
                });
            }
    
        });
    
    });
</script>
