{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- leaflet maps -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.css"
    integrity="sha512-UkezATkM8unVC0R/Z9Kmq4gorjNoFwLMAWR/1yZpINW08I79jEKx/c8NlLSvvimcu7SL8pgeOnynxfRpe+5QpA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.1/css/leaflet.extra-markers.min.css"
    integrity="sha512-wurszDyO1nj6ESdfrXb9h1hmoHMu3sQ3iXgKcu/p81lT+KaPGkta9NIPX7k6XXGgVYpcRHcc8AA4UIeQ7Ax/Cw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{% static 'home/css/leaflet-attribution.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <!-- home hero image -->
    <section id="home-hero-img" class="container-fluid parallax hero-bg-imgs shadow m-0 p-0">
        <div class="row m-0 p-0 hero-overlay">
            <div class="col-12 m-0 p-0 text-center text-white text-shadow">
                <div class="row m-0 p-0">
                    <div class="col-12">
                        <h1 id="main-heading" class="display-1 my-5 font-jura">
                            Binge Traveller
                        </h1>
                        <p class="tagline fs-1 mx-0 mx-md-5">
                            Fáilte! Welcome! Bienvenue! Willkommen!
                            <br class="d-none d-sm-block">
                            Witaj! Bienvenido! Benvenuto! Welkom!
                        </p>
                        <br><br>
                        <p class="tagline mx-0 mx-md-5">
                            An authentic, raw, unfiltered travel blog featuring travel tips, travel inspiration, photography, and videos from around the world.
                        </p>
                        <p class="tagline mx-0 mx-md-5">
                            For solo travellers, and the <span class="text-rainbow">LGBTQ+</span> community.
                        </p>
                    </div>
                </div>
                <div class="row d-none d-sm-flex m-0 p-0" id="hero-caret">
                    <div class="col-12">
                        <a href="#meet" class="fs-1">
                            <i class="fas fa-chevron-down text-white" id="home-hero-caret-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- meet mike -->
    <section id="meet" class="container-fluid py-5 scroll-margin-top">
        <div class="row text-center">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <img src="{% static 'img/mike/greece.webp' %}" alt="Mike in Greece" class="img-fluid rounded shadow">
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center align-self-center order-1 order-lg-2 mb-5 mb-lg-0">
                <h2 class="display-4 font-jura">Meet Mike</h2>
                <p class="fs-4 my-4 px-3 px-lg-5">
                    Curious to know where it all began, and how my love for travel became so important in my life?
                    Have a read about my fondest childhood memories, which over the years turned into a lifelong passion.
                    Find out how where the inspiration came from for creating this blog, and how I hope it inspires you!
                </p>
                <a href="{% url 'about' %}" class="btn btn-lg btn-primary mx-auto text-shadow">Read More</a>
            </div>
        </div>
    </section>

    <!-- youtube embed -->
    <section id="yt-embed" class="container-fluid bg-bt-primary border-5 border-top border-bottom border-info shadow">
        <div class="row text-center">
            <figure class="col-12 iframe-container">
                <iframe src="https://www.youtube.com/embed/F1ORrOZSzxM" title="Binge Traveller on YouTube" class="iframe-responsive rounded shadow"
                    allow="encrypted-media;" allowfullscreen></iframe>
                <figcaption>Mike's Adventures</figcaption>
            </figure>
        </div>
    </section>

    <!-- instagram drinks gallery -->
    <section class="container-fluid py-5">
        <div class="row my-5">
            <div class="col-12 mx-auto text-center">
                <h2 class="display-4 font-jura">Follow me on Instagram</h2>
                <a href="https://www.instagram.com/bingetraveller_mike" target="_blank" rel="noreferrer nofollow" class="my-3">
                    <span class="badge rounded-pill text-bg-primary fs-6">@bingetraveller_mike</span>
                </a>
            </div>
        </div>
        <div class="row d-flex flex-wrap" id="drink-gallery">
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/andorra-beer.jpg' %}" alt="Mike in Andorra with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Andorra with beer</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/belgium-cherry-beer.jpg' %}" alt="Mike in Belgium with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Belgium with beer</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/bordeaux-white.jpg' %}" alt="Mike in Bordeaux with white wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Bordeaux with white wine</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/bordeaux-wines.jpg' %}" alt="Mike in Bordeaux at La Cité du Vin" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Bordeaux at La Cité du Vin</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/cologne-frueh.jpg' %}" alt="Mike in Cologne with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Cologne with Früh Kölsch</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/cologne-radeberger.jpg' %}" alt="Mike in Cologne with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Cologne with Redeberger</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-birra-moretti.jpg' %}" alt="Mike in Dublin with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with Birra Moretti</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-guinness-01.jpg' %}" alt="Mike in Dublin with Guinness" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with Guinness</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-guinness-02.jpg' %}" alt="Mike in Dublin with Guinness" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with Guinness</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-paddys-day-rose.jpg' %}" alt="Mike in Dublin with rose wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with rose wine</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-rose.jpg' %}" alt="Mike in Dublin with rose wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with rose wine</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-whiskey.jpg' %}" alt="Mike in Dublin with whiskey" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with whiskey</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/dublin-white-wine.jpg' %}" alt="Mike in Dublin with white wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Dublin with white wine</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/gdansk-tyskie.jpg' %}" alt="Mike in Gdansk with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Gdansk with Tyskie</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/greece-beer.jpg' %}" alt="Mike in Greece with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Greece with beer</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/greece-metaxa.jpg' %}" alt="Mike in Greece with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Greece with Metaxa</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/greece-pilsner.jpg' %}" alt="Mike in Greece with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Greece with Pilsner</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/iberia-express.jpg' %}" alt="Mike on airplane with white wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>On Iberia Express with white wine</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/madrid-rioja.jpg' %}" alt="Mike in Madrid with red wine" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Madrid with Rioja</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/mexico-pulque.jpg' %}" alt="Mike in Mexico with pulque" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Mexico with Pulque</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/nuernberg-bier.jpg' %}" alt="Mike in Nürnberg with beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Nürnberg with beer</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-md-4 col-lg-3 drinks-gallery-img">
                <img src="{% static 'img/mike/drinks/zurich-amber.jpg' %}" alt="Mike in Zurich with amber beer" class="mt-3 align-middle w-100 img-fluid">
                <figcaption>In Zurich with amber beer</figcaption>
            </figure>
        </div>
    </section>

    <!-- travel map -->
    <section id="world-map" class="container-fluid bg-bt-primary border-5 border-top border-bottom border-info shadow">
        <div class="row my-3 my-lg-5 mt-0">
            <div class="col-12 mx-auto text-center">
                <h2 class="display-4 font-jura text-white">Check out my travel map</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div id="map" class="rounded shadow"></div>
            </div>
        </div>
    </section>

    <!-- flight memory -->
    <section class="container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="display-4 font-jura">Check out my flight history</h2>
                <a href="https://my.flightmemory.com/N272WA" target="_blank" rel="noreferrer nofollow">
                    <img src="https://my.flightmemory.com/image/N272WA.gif" alt="Mike's Flight Memory tracker" class="img-fluid my-5">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center fs-4">
                <p class="mx-lg-5">
                    Track my total flight distances, flight times, top ten airports, top ten airlines, top ten aircraft, top ten routes, and much more!
                </p>
            </div>
        </div>
    </section>
{% endblock %}


{% block js %}

    <!-- leaflet maps -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.2/leaflet.js"
        integrity="sha512-KMraOVM0qMVE0U1OULTpYO4gg5MZgazwPAPyMQWfOkEshpwlLQFCHZ/0lBXyviDNVL+pBGwmeXQnuvGK8Fscvg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.1/js/leaflet.extra-markers.min.js"
        integrity="sha512-ejMFZwlfxDqEaSHHcCJ9EhzzDyp3QB5NjmGfOp1iwUQ7pFam2pX3EKERWvWK8H5HLQG6ETrx3RvrEFMQ4kIQ/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'home/js/leaflet-attribution.js' %}"></script>

    <!-- country data -->
    <script src="{% static 'js/countries.js' %}"></script>

    <script>
        const mapUrl = `{{ map_url }}`;

        // basic leaflet map of world
        let map = L.map("map", {
            scrollWheelZoom: false,
            minZoom: 2,
            maxZoom: 18,
            maxBounds: [[-75, -190], [90, 190]],
            maxBoundsViscosity: 0.5,
        }).setView([23.5, 12], 2);

        // map tile layers / default setup
        let mapTileLayers = L.tileLayer(`https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}`, {
            attribution: "Map data &copy; <a href='https://www.openstreetmap.org/copyright' target='_blank' rel='noopener'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com' target='_blank' rel='noopener'>Mapbox</a>",
            id: "mapbox/streets-v11",
            tileSize: 512,
            zoomOffset: -1,
            accessToken: mapUrl
        }).addTo(map);

        // add custom marker icon
        let customIcon = L.Icon.extend({
            options: {
                iconSize: [25, 25],
                iconAnchor: [12.5, 0],
            }
        });

        // get country data (lat/lng)
        function getCountryByCode(code) {
            return countries.filter(
                function(countries) {
                    return countries.iso2 == code;
                }
            );
        }

        // generate flag markers for country blog filtering
        let country, lat, lng, flagMarker;
        {% for post in posts %}
            country = getCountryByCode("{{ post.country }}".toUpperCase());
            flagMarker = new customIcon({iconUrl: `https://assets.2bn.dev/flags/sm/${country[0].iso2.toLowerCase()}.png`});
            lat = country[0].latitude;
            lng = country[0].longitude;
            marker = L.marker([lat, lng], {icon: flagMarker}).bindPopup(`<a href="{% url 'blog' %}?country=${country[0].iso2}#blogs">${country[0].country}</a>`).addTo(map);
        {% endfor %}

    </script>
{% endblock %}
