{% load static %}

<!-- footer -->
<footer class="container-fluid py-3 pb-0 text-white">
    <div class="row">

        <!-- links -->
        <div class="col-12 col-sm-6 mt-3 mt-sm-0 order-2 order-sm-1">
            <p class="fw-bolder text-uppercase border-bottom-white footer-header mb-3 fs-5">Links</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 link-light">Home</a></li>
                <li class="nav-item mb-2"><a href="" class="nav-link p-0 link-light">About Me</a></li>
                <li class="nav-item mb-2"><a href="" class="nav-link p-0 link-light">Blog</a></li>
                <li class="nav-item mb-2"><a href="" class="nav-link p-0 link-light">Contact</a></li>
            </ul>
        </div>

        <!-- address/phone -->
        <div class="col-12 col-sm-6 order-1 order-sm-2">
            <address class="text-center">
                <p class="fw-bolder border-bottom-white footer-header mb-3 fs-5">Binge Traveller</p>
                <span class="fw-bold fst-italic">Mike Murtagh</span><br>
                <abbr title="Address"><i class="fas fa-map-marker-alt fs-6 me-2"></i></abbr>Dublin, Ireland
            </address>
        </div>

    </div>

    <!-- lower footer -->
    <div class="row mt-4 border-top">
        <!-- copyright -->
        <div class="col-12 col-sm-6 my-3 d-flex align-items-center justify-content-center justify-content-md-start order-2 order-sm-1">
            <p class="ms-md-5 m-0 p-0">
                <a href="{% url 'home' %}" class="link-light">
                    &copy;<span id="year"></span> Binge Traveller
                </a>
            </p>
        </div>

        <!-- social media -->
        <div class="col-12 col-sm-6 my-3 order-1 order-sm-2">
            <ul class="list-unstyled text-center d-flex flex-row justify-content-center justify-content-md-end me-md-5 m-0 p-0">
                <li class="mx-1 mx-md-2">
                    <a href="https://www.instagram.com/bingetraveller_mike" target="_blank" rel="noopener" aria-label="Binge Traveller on Instagram">
                        <img src="{% static 'img/social/instagram.png' %}" alt="Binge Traveller on Instagram" class="img-fluid footer-social-img">
                    </a>
                </li>
                <li class="mx-1 mx-md-2">
                    <a href="https://my.flightmemory.com/N272WA" target="_blank" rel="noopener" aria-label="Binge Traveller on FlightMemory">
                        <img src="{% static 'img/social/flightmemory.png' %}" alt="Binge Traveller on FlightMemory" class="img-fluid footer-social-img">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>
