/* ROOT VARIABLE */
:root {
    --bt-primary: 130, 177, 220; /* #82B1DC */
    --bt-primary-light: 179, 209, 236; /* #B3D1EC */
    --bt-primary-dark: 81, 104, 135; /* #516887 */
    --bt-primary-darkest: 30, 53, 84; /* #1E3554 */
    --bt-secondary: 155, 150, 214; /* #9B96D6 */
    --dark-grey: 74, 74, 79; /* #4A4A4F */
    --darker-grey: 34, 34, 34; /* #222222 */
    --light-grey: 245, 245, 245; /* #F5F5F5 */
    --white: 255, 255, 255; /* #FFFFFF */
    --black: 0, 0, 0; /* #000000 */
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body>footer {
    position: sticky !important;
    top: 100vh;
}

body {
    min-height: 100%;
    font-family: "Spinnaker", sans-serif;
    background-color: rgba(var(--light-grey), 1);
    color: rgba(var(--dark-grey), 1);
}

a, a:hover {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.scroll-margin-top {
    scroll-margin-top: 4.5em;
}

/* FONTS */
.font-jura {font-family: "Jura", sans-serif;}
.font-spinnaker {font-family: "Spinnaker", sans-serif;}

/* COLORS */
.text-bt-primary {color: rgba(var(--bt-primary), 1);}
.text-bt-primary-light {color: rgba(var(--bt-primary-light), 1);}
.text-bt-primary-dark {color: rgba(var(--bt-primary-dark), 1);}
.text-bt-primary-darkest {color: rgba(var(--bt-primary-darkest), 1);}
.text-bt-secondary {color: rgba(var(--bt-secondary), 1);}

.bg-bt-primary {background-color: rgba(var(--bt-primary), 1);}
.bg-bt-primary-light {background-color: rgba(var(--bt-primary-light), 1);}
.bg-bt-primary-dark {background-color: rgba(var(--bt-primary-dark), 1);}
.bg-bt-primary-darkest {background-color: rgba(var(--bt-primary-darkest), 1);}
.bg-bt-secondary {background-color: rgba(var(--bt-secondary), 1);}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(var(--black), 0.75);
}

.text-shadow-thick {
    text-shadow:
        0 1px rgba(var(--black), 1),
        -1px 0 rgba(var(--black), 1),
        -1px 2px rgba(var(--black), 0.7),
        -2px 1px rgba(var(--black), 0.7),
        -2px 3px rgba(var(--black), 0.6),
        -3px 2px rgba(var(--black), 0.6),
        -3px 4px rgba(var(--black), 0.5),
        -4px 3px rgba(var(--black), 0.5),
        -4px 5px rgba(var(--black), 0.4),
        -5px 4px rgba(var(--black), 0.4),
        -5px 6px rgba(var(--black), 0.3),
        -6px 5px rgba(var(--black), 0.3),
        -6px 7px rgba(var(--black), 0.2),
        -7px 6px rgba(var(--black), 0.2),
        -7px 8px rgba(var(--black), 0.1),
        -8px 7px rgba(var(--black), 0.1);
}

.text-rainbow {
    background-image: linear-gradient(to right, #f22,  #ff2, #2f2, #2ff, #f2f);
    color: transparent;
    -webkit-background-clip: text;
}


/* FORMS */
textarea {
    min-height: 150px !important;
}

textarea.tinymce {
    min-height: 500px !important;
}

.form-control:focus {
    border-color: rgba(var(--bt-primary), 1);
    box-shadow: 0 0 0 .15rem rgba(var(--bt-primary), 0.25);
}

.btn.bg-bt-primary-light {
    color: rgba(var(--white), 1);
    border: 1px solid rgba(var(--white), 1);
    background-color: rgba(var(--bt-primary-dark), 1);
}

.btn.bg-bt-primary-light:hover {
    color: rgba(var(--black), 1);
    border: 1px solid rgba(var(--white), 0);
    background-color: rgba(var(--bt-primary), 1);
}

/* NAVBAR */
header#navbar-header {
    position: sticky;
    top: 0;
    min-height: 76px;
    z-index: 1001;
    transition: all 0.2s ease-in-out;
}

header#navbar-header .bg-dark:hover {
    background-color: rgba(var(--black), 1) !important;
}

nav.navbar {
    font-weight: bold;
    background-color: rgba(var(--bt-primary-darkest), 1);
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
    transition: all 0.5s ease-in-out;
    min-height: 76px;
}

nav.navbar * {
    color: rgba(var(--white), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.75);
}

.navbar-nav .nav-item {
    letter-spacing: 2px;
}

.bt-logo {
    max-height: 50px;
    max-width: 25vw;
}

#offcanvas-toggle-btn {
    background-color: rgba(var(--bt-primary), 1);
    /* background-color: rgba(var(--white), 1); */
}

#offcanvas-toggle-btn i.fas.fa-bars {
    color: rgba(var(--black), 1);
    text-shadow: none;
}

#offcanvasRight {
    background-color: rgba(var(--bt-primary-darkest), 1);
}

#offcanvas-list-group .list-group-item {
    transition: all 0.3s ease-in-out;
}

#offcanvas-list-group a.list-group-item:hover {
    border-left: 10px solid rgba(var(--bt-primary), 1) !important;
}

/* PRELOADER */
aside#preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#preloader-icon {
    position: absolute;
    top: 125px;
    left: 125px;
    margin: -50px 0 0 -49px;
    font-size: 5em;
}

#preloader {
    z-index: 5001;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: rgba(var(--bt-primary), 1);
    animation: spin 1.5s linear infinite;
}

#preloader::before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: rgba(var(--bt-primary-light), 1);
    animation: spin 2s linear infinite;
}

#preloader::after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: rgba(var(--bt-primary-dark), 1);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#preloader-container .preloader-section {
    position: fixed;
    width: 100vw;
    height: 50vh;
    background-color: rgba(var(--darker-grey), 1);
    z-index: 5000;
}

#preloader-container .preloader-section.section-top {
    top: 0;
}

#preloader-container .preloader-section.section-bottom {
    bottom: 0;
}

.page-load-complete #preloader-container .preloader-section.section-top {
    transform: translateY(-100%);
    transition: all 0.5s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.page-load-complete #preloader-container .preloader-section.section-bottom {
    transform: translateY(100%);
    transition: all 0.5s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.page-load-complete #preloader {
    opacity: 0;
    transition: all 0.2s ease-out;
}

.page-load-complete #preloader-container {
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.2s 0.7s ease-out;
}

/* OVERLAY */
aside#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(3px);
    transition: all 0.2s ease-in-out;
    background-color: rgba(var(--black), 0.75);
}

aside#overlay.hide {
    opacity: 0;
    visibility: hidden;
}

/* FLASH MESSAGES + ALERTS */
#alerts {
    display: grid;
    position: fixed;
    top: 76px;
    width: 100%;
    z-index: 1001;
}

#alerts .alert {
    height: 76px;
}

#alerts .alert {
    width: 100%;
    z-index: 1002;
    margin-bottom: 2px;
    box-shadow: 0 2px 9px 0 rgba(var(--black), 0.2);
    transition: all 0.3s ease-in-out;
}

.alert h3 {
    margin: 0;
    padding: 0;
}

.alert-slide {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translate3d(0, -20em, 0);
    overflow: hidden;
}

/* TO-TOP BUTTON */
#btn-top {
    cursor: pointer;
    position: fixed;
    padding: 0.5em;
    bottom: -2em;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    opacity: 0.75;
    z-index: 1000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 2px solid rgba(var(--bt-primary-darkest), 1);
    border-bottom: unset;
    transition: all 0.5s ease-in-out;
}

#btn-top:hover {
    opacity: 1;
    bottom: 0 !important;
}

a.btn-circle {
    text-align: center;
    width: 40px;
    height: 40px;
    padding: calc(40px / 7) 0;
    border-radius: 50%;
    color: rgba(var(--white), 1);
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
}

a.btn-circle.facebook {
    background-color: #1877f2;
}

a.btn-circle.twitter {
    background-color: #1da1f2;
}

a.btn-circle.linkedin {
    background-color: #0077b5;
}

a.btn-circle.facebook:focus-visible,
a.btn-circle.facebook:hover {
    color: #1877f2;
    border: 3px inset #1877f2;
    background-color: rgba(var(--white), 1);
}

a.btn-circle.twitter:focus-visible,
a.btn-circle.twitter:hover {
    color: #1da1f2;
    border: 3px inset #1da1f2;
    background-color: rgba(var(--white), 1);
}

a.btn-circle.linkedin:focus-visible,
a.btn-circle.linkedin:hover {
    color: #0077b5;
    border: 3px inset #0077b5;
    background-color: rgba(var(--white), 1);
}

/* MODAL */
.modal {
    backdrop-filter: blur(3px);
    background-color: rgba(var(--white), 0.5);
}

/* HOME */
.parallax {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3vw;
    letter-spacing: 1.5vw;
}

.hero-bg-imgs {
    background-attachment: fixed;
}

.hero-overlay {
    background-color: rgba(var(--black), 0.5);
    min-height: calc(100vh - 76px);
}

#home-hero-img {
    background-image: url("../img/hero-home.webp");
}

#about-hero-img {
    background-image: url("../img/hero-about.webp");
}

#blog-hero-img {
    background-image: url("../img/hero-blog.webp");
}

#contact-hero-img {
    background-image: url("../img/hero-contact.webp");
}

.tagline {
    font-size: calc(1rem + 1vw);
}

#hero-caret {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#home-hero-caret-down {
    opacity: 0;
    font-size: 4rem;
    animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
}

@keyframes fade-slide-up {
    0% {opacity: 0; transform: translateY(4rem);}
    100% {opacity: 0.8; transform: none;}
}

@keyframes pulse {
    0% {opacity: 0.8; transform: scale(1);}
    50% {opacity: 0.4; transform: scale(0.9);}
    100% {opacity: 0.8; transform: scale(1);}
}

/* youtube embed, world map */
#yt-embed,
#world-map {
    padding: 10vw calc(var(--bs-gutter-x) * .5);
    background-image: linear-gradient(180deg, rgba(var(--bt-primary-darkest), 1), rgba(var(--bt-primary), 1), rgba(var(--bt-primary-darkest), 1));
}

.iframe-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625) */
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* drinks gallery */
#drink-gallery figure {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

figure.drinks-gallery-img figcaption {
	position: absolute;
	display: block;
	text-align: center;
	background: rgba(var(--white), 1);
	padding: 15px;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	opacity: 0;
	top: 50%;
	left: 0;
    font-weight: bold;
    font-family: "Jura", sans-serif;
	transform: translate3d(-100%, -50%, 0);
	transition: all 0.5s ease-in-out;
}

figure.drinks-gallery-img img {
	transform: translate3d(0, 0, 0);
	transition: all 0.5s ease-in-out;
}

figure.drinks-gallery-img figcaption {
	top: 100%;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

figure.drinks-gallery-img:hover img {
	transform: translate3d(0, -20px, 0);
    opacity: 0.5;
}

figure.drinks-gallery-img:hover figcaption {
	transform: translate3d(0, -100%, 0);
	transition: all 0.5s ease-in-out;
    box-shadow: 0px -2px 28px rgba(var(--black), 0.3);
}

/* world-map */
#map {
    height: 60vh;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border: 1px solid rgba(var(--black), 1);
    background-color: rgba(var(--bt-primary-light), 0.95);
    box-shadow: 0 0 0 5px rgba(var(--bt-primary-darkest), 0.5);
}

.leaflet-popup-content a {
    font-size: 1.5em;
    color: rgba(var(--bt-primary-darkest), 1);
    text-shadow: 2px 2px 2px rgba(var(--white), 0.5);
}

/* BLOG */
.blog-card {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.blog-card-img-wrapper {
    position: relative;
    overflow: hidden;
    background-color: rgba(var(--black), 1);
}

.blog-card-img-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    letter-spacing: 3px;
    background-color: rgba(var(--bt-primary-dark), 0.85);
}

.blog-card-img {
    max-height: 25vh;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.blog-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(var(--black), 0.35) !important;
}

.blog-card:hover .blog-card-img {
    opacity: 0.75;
    scale: 1.1;
}

.blog-card:hover .card-title {
    color: rgba(var(--bt-primary-dark), 1);
}

.accordion-button, .accordion-button:not(.collapsed) {
    letter-spacing: 2px;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--bt-primary-darkest), 1);
}

.accordion-button:focus, .accordion-button:active {
    box-shadow: none;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.list-group-item.active {
    letter-spacing: 2px;
    font-weight: bolder;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--bt-primary), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
}

.list-group-item:hover:not(.active) {
    background-color: rgba(var(--bt-primary-light), 0.5);
}


/* BLOG POSTS */
#blog-hero-carousel {
    transform-style: preserve-3d;
}

#blog-hero-carousel .carousel-inner .carousel-item img {
    max-height: 50vh;
    object-fit: cover;
}

#blog-hero-carousel .carousel-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--black), 0.75);
}

#blog-hero-carousel .carousel-caption {
    z-index: 1;
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
    background-color: rgba(var(--bt-primary-darkest), 0.85);
    width: fit-content;
    margin: 0 auto;
    padding: 2em 3em;
}

.blog-image-thumb {
    object-fit: cover;
}

.image-thumb-edit {
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
}

.fas.fa-beer {
    text-shadow: 1px 1px 0 rgba(var(--black), 1);
}

.fas.fa-beer.text-muted {
    opacity: 0.5;
}

/* PAGINATION */
.page-link:focus {
    box-shadow: unset;
}

/* FOOTER */
footer {
    text-align: center;
    color: rgba(var(--light-grey), 1);
    background-image: linear-gradient(180deg, rgba(var(--bt-primary), 1), rgba(var(--bt-primary-darkest), 1));
}

footer * {
    text-shadow: 2px 2px 2px rgba(var(--black), 0.75);
}

footer a {
    color: rgba(var(--light-grey), 1);
}

footer .fab,
footer .fas {
    font-size: 1.5em;
    vertical-align: middle;
    color: rgba(var(--light-grey), 1);
    text-shadow: 2px 2px 2px rgba(var(--black), 0.5);
    transition: all 0.4s ease-in-out;
}

footer .fab:hover,
footer .fas:hover {
    transform: scale(1.3);
}

.footer-header {
    margin: 0 auto;
    width: fit-content;
    padding: 0.25em;
    font-family: "Jura", sans-serif;
}

.border-bottom-blue {
    border-bottom: 4px solid rgba(var(--bt-primary), 1);
}

.border-bottom-purple {
    border-bottom: 4px solid rgba(var(--bt-secondary), 1);
}

.border-bottom-white {
    border-bottom: 4px solid rgba(var(--white), 1);
}

.border-bottom-black {
    border-bottom: 4px solid rgba(var(--black), 1);
}

.footer-social-img {
    width: 3em;
    transition: all 0.3s ease-in-out;
}

.footer-social-img:hover {
    filter: grayscale(1);
}

/* MEDIA QUERIES */

/* BOOTSTRAP: SMALL */
@media (min-width: 576px) {}

/* BOOTSTRAP: MEDIUM */
@media (min-width: 768px) {
    /* navbar */
    #navbar-logo-text {
        font-size: 3vw;
    }

    /* BLOG */
    .blog-card-img {
        min-height: 350px;
        max-height: 350px;
    }
}

/* BOOTSTRAP: LARGE */
@media (min-width: 992px) {
    /* navbar */
    #navbar-logo-text {
        font-size: 2vw;
    }

    /* youtube */
    #yt-embed {
        padding: 10vw 15vw;
    }

    /* world map */
    #world-map {
        padding: 10vw 5vw;
    }
}

/* BOOTSTRAP: X-LARGE */
@media (min-width: 1200px) {}
