{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <!-- blog hero image -->
    <section id="blog-hero-img" class="container-fluid parallax hero-bg-imgs shadow m-0 p-0">
        <div class="row m-0 p-0 hero-overlay">
            <div class="col-12 m-0 p-0 text-center text-white text-shadow">
                <div class="row m-0 p-0">
                    <div class="col-12 px-5">
                        <h1 id="main-heading" class="display-1 my-5 pt-5 font-jura">
                            Binge Traveller Blog
                        </h1>
                        <br><br>
                        <p class="tagline mx-0 mx-md-5 pt-5">
                            All my adventures, in one place.
                        </p>
                    </div>
                </div>
                <div class="row d-none d-sm-flex m-0 p-0" id="hero-caret">
                    <div class="col-12">
                        <a href="#blogs" class="fs-1">
                            <i class="fas fa-chevron-down text-white" id="home-hero-caret-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- blogs -->
    <section id="blogs" class="container pt-5 scroll-margin-top">
        <div class="row my-5 mx-1">

            <!-- blog filtering sidebar -->
            <aside id="blog-filtering" class="col-12 col-lg-4 order-1 order-lg-2 m-0 py-0 px-0 px-md-3 mb-5">

                <!-- filter by country -->
                <div class="accordion" id="accordion-country">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion-country-panel">
                            <button class="accordion-button text-uppercase fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion-country-collapse" aria-expanded="true"
                                aria-controls="accordion-country-collapse">
                                Countries
                            </button>
                        </h2>
                        <div id="accordion-country-collapse" class="accordion-collapse collapse show"
                            aria-labelledby="accordion-country-panel">
                            <div class="accordion-body m-0 p-0">
                                <div class="list-group list-group-flush">
                                    <!-- loop over blog countries -->
                                    <a href="{% url 'blog' %}#blogs"
                                        class="list-group-item list-group-item-action {% if not request.GET.country %}active{% endif %}"
                                        {% if not request.GET.country %}aria-current="true"{% endif %}>
                                            ALL
                                    </a>
                                    {% for country in countries %}
                                        <a href="{% url 'blog' %}?country={{ country.iso }}#blogs"
                                            class="list-group-item list-group-item-action {% if request.GET.country == country.iso %}active{% endif %}"
                                            {% if request.GET.country == country.iso %}aria-current="true"{% endif %}>
                                                {{ country.full }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- filter by date archive -->
                <div class="accordion mt-5" id="accordion-dates">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion-dates-panel">
                            <button class="accordion-button text-uppercase fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#accordion-dates-collapse" aria-expanded="true"
                                aria-controls="accordion-dates-collapse">
                                Archives
                            </button>
                        </h2>
                        <div id="accordion-dates-collapse" class="accordion-collapse collapse show"
                            aria-labelledby="accordion-dates-panel">
                            <div class="accordion-body m-0 p-0">
                                <div class="list-group list-group-flush">
                                    <!-- loop over blog months -->
                                    <a href="{% url 'blog' %}#blogs"
                                        class="list-group-item list-group-item-action {% if not request.GET.date %}active{% endif %}"
                                        {% if not request.GET.date %}aria-current="true"{% endif %}>
                                            ALL
                                    </a>
                                    {% for month in months %}
                                        <a href="{% url 'blog' %}?date={{ month.short }}#blogs"
                                            class="list-group-item list-group-item-action {% if request.GET.date == month.short %}active{% endif %}"
                                            {% if request.GET.date == month.short %}aria-current="true"{% endif %}>
                                                {{ month.full }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </aside>

            <!-- list the blogs -->
            <div class="col-12 col-lg-8 order-2 order-lg-1">
                <div class="row">

                    {% for post in posts %}
                        <div class="col-12 card blog-card mb-5 mx-0 p-0 shadow">
                            <div class="row g-0">
                                <!-- even forloop.counter gets "order-md-2" -->
                                <div class="col-md-4 order-1 {% if forloop.counter|divisibleby:2 %}order-md-2{% endif %}">
                                    <div class="blog-card-img-wrapper">
                                        <img src="https://assets.2bn.dev/flags/full/{{ post.country|lower }}.png" class="img-fluid blog-card-img" alt="Flag of {{ post.country.name }}">
                                        <span class="blog-card-img-text fw-bold text-white text-uppercase text-center text-shadow p-2">
                                            {{ post.country.name }}
                                        </span>
                                    </div>
                                </div>
                                <!-- even forloop.counter gets "order-md-1" -->
                                <div class="col-md-8 d-flex flex-column order-2 {% if forloop.counter|divisibleby:2 %}order-md-1{% endif %}">
                                    <div class="card-body">
                                        <h6 class="text-bt-primary">
                                            <small>
                                                {{ post.date_created|date:"F d, Y" }}
                                            </small>
                                        </h6>
                                        <h5 class="card-title fw-bold">
                                            <a href="">
                                                {{ post.title }}
                                            </a>
                                        </h5>
                                        <p class="card-text">
                                            {{ post.body|safe|striptags|truncatewords_html:50 }}
                                        </p>
                                        <p class="card-text">
                                            <small class="text-muted">Last updated
                                                {{ post.date_updated|naturalday:"F d, Y" }}
                                            </small>
                                        </p>
                                        <a href="#" class="btn btn-primary bg-bt-primary-darkest">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 card text-center text-danger fw-bold fs-2 p-5 shadow">
                            No Results Found
                        </div>
                    {% endfor %}

                </div>

                {% if posts.has_other_pages %}
                    <!-- pagination -->
                    {% include "blog/partials/pagination.html" %}
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
