{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <!-- blog hero image -->
    <section id="blog-hero-img" class="container-fluid parallax hero-bg-imgs shadow m-0 p-0">
        <div class="row m-0 p-0 hero-overlay">
            <div class="col-12 m-0 p-0 text-center text-white text-shadow">
                <div class="row m-0 p-0">
                    <div class="col-12 px-5">
                        <h1 id="main-heading" class="display-1 my-5 pt-5 font-jura">
                            Binge Traveller Blog
                        </h1>
                        <br><br>
                        <p class="tagline mx-0 mx-md-5 pt-5">
                            All my adventures, in one place.
                        </p>
                    </div>
                </div>
                <div class="row d-none d-sm-flex m-0 p-0" id="hero-caret">
                    <div class="col-12">
                        <a href="#blogs" class="fs-1">
                            <i class="fas fa-chevron-down text-white" id="home-hero-caret-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- blogs -->
    <section id="blogs" class="container pt-5 scroll-margin-top">
        <div class="row my-5 mx-1">

            <!-- sidebar menus -->
            {% include "blog/partials/sidebar.html" %}

            <!-- list the blogs -->
            <div class="col-12 col-lg-8 order-2 order-lg-1">
                <div class="row">

                    {% for blog in posts %}
                        <div class="col-12 card blog-card mb-5 mx-0 p-0 shadow">
                            <div class="row g-0">
                                <!-- even forloop.counter gets "order-md-2" -->
                                <div class="col-md-4 order-1 bg-bt-primary-dark {% if forloop.counter|divisibleby:2 %}order-md-2{% endif %}">
                                    <div class="blog-card-img-wrapper">
                                        <img src="{{ blog.img.image.url }}"
                                            class="img-fluid blog-card-img bg-white" alt="Flag of {{ post.country.name }}"
                                            onError="this.onerror=null;this.src='{{ MEDIA_URL }}no-image.png';">
                                        <span class="blog-card-img-text fw-bold text-white text-uppercase text-center text-shadow p-2">
                                            {{ blog.post.country.name }}
                                        </span>
                                    </div>
                                </div>
                                <!-- even forloop.counter gets "order-md-1" -->
                                <div class="col-md-8 d-flex flex-column order-2 {% if forloop.counter|divisibleby:2 %}order-md-1{% endif %}">
                                    <div class="card-body">
                                        {% if request.user.is_authenticated and blog.post.status != "published" %}
                                            <div class="alert alert-warning text-center border border-dark" role="alert">
                                                D R A F T
                                            </div>
                                        {% endif %}
                                        <h6 class="text-bt-primary">
                                            <small>
                                                {{ blog.post.date_created|date:"F d, Y" }}
                                            </small>
                                        </h6>
                                        <h5 class="card-title fw-bold">
                                            <a href="{% url 'post' blog.post.country.name|slugify|lower blog.post.date_created|date:'Y' blog.post.date_created|date:'m' blog.post.date_created|date:'d' blog.post.id blog.post.slug %}">
                                                {{ blog.post.title }}
                                            </a>
                                        </h5>
                                        <p class="card-text">
                                            {{ blog.post.body|safe|striptags|truncatewords_html:50 }}
                                        </p>
                                        {% if blog.post.date_created|naturalday:"F d, Y" != blog.post.date_updated|naturalday:"F d, Y" %}
                                            <p class="card-text">
                                                <small class="text-muted">Last updated
                                                    {{ blog.post.date_updated|naturalday:"F d, Y" }}
                                                </small>
                                            </p>
                                        {% endif %}
                                        <a href="{% url 'post' blog.post.country.name|slugify|lower blog.post.date_created|date:'Y' blog.post.date_created|date:'m' blog.post.date_created|date:'d' blog.post.id blog.post.slug %}"
                                            class="btn btn-primary bg-bt-primary-darkest">Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 card text-center text-danger fw-bold fs-2 p-5 shadow">
                            No Results Found
                        </div>
                    {% endfor %}

                </div>

                {% if posts.has_other_pages %}
                    <!-- pagination -->
                    {% include "blog/partials/pagination.html" %}
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}
