{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    {% if images|length > 0 %}
        <!-- blog hero carousel -->
        <section id="blog-hero-carousel" class="shadow carousel slide carousel-fade m-0 p-0" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in images %}
                    <button type="button" data-bs-target="#blog-hero-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide 1"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="d-block w-100 img-fluid" alt="{{ image.post.title }}">
                        <div class="carousel-caption rounded-4">
                            <h2 class="d-none d-md-block">{{ image.post.title }}</h2>
                            <h5 class="d-md-none">{{ image.post.title }}</h5>
                            <p class="p-0 m-0">
                                <a href="{% url 'home' %}" class="d-none d-md-inline-block">Home</a>
                                <span class="d-none d-md-inline-block mx-3">|</span>
                                <a href="{% url 'blog' %}#blogs" class="d-none d-md-inline-block">Blog</a>
                                <span class="d-none d-md-inline-block mx-3">|</span>
                                <a href="{% url 'blog' %}?country={{ image.post.country }}#blogs" class="text-bt-primary">{{ image.post.country.name }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#blog-hero-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#blog-hero-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    {% endif %}

    <!-- blog -->
    <section id="blogs" class="container pt-0 scroll-margin-top">
        <div class="row my-5 mx-1">

            <!-- sidebar menus -->
            {% include "blog/partials/sidebar.html" %}

            <!-- the blog -->
            <div class="col-12 col-lg-8 order-2 order-lg-1">

                <!-- first 3 post images -->
                <div class="row order-2 order-lg-1">
                    {% for image in images %}
                        {% if forloop.counter <= 3 %}
                            <div class="col-4 mb-3">
                                <img src="{{ image.image.url }}" class="img-fluid h-100 blog-image-thumb" alt="{{ image.post.title }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row order-1 order-lg-2">
                    <div class="col-12 card blog-card mb-5 mx-0 p-0 shadow">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="blog-card-img-wrapper">
                                    <img src="https://assets.2bn.dev/flags/full/{{ post.country|lower }}.png" class="img-fluid blog-card-img" alt="Flag of {{ post.country.name }}">
                                    <span class="blog-card-img-text fw-bold text-white text-uppercase text-center text-shadow p-2">
                                        {{ post.country.name }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex flex-column">
                                <div class="card-body">
                                    <h6 class="text-bt-primary">
                                        <small>
                                            {{ post.date_created|date:"F d, Y" }}
                                        </small>
                                    </h6>
                                    <h5 class="card-title fw-bold">
                                        <a href="">
                                            {{ post.title }}
                                        </a>
                                    </h5>
                                    <p class="card-text">
                                        {{ post.body|safe|striptags|truncatewords_html:50 }}
                                    </p>
                                    {% if post.date_created|date:"F d, Y" != post.date_updated|naturalday:"F d, Y" %}
                                        <p class="card-text">
                                            <small class="text-muted">Last updated
                                                {{ post.date_updated|naturalday:"F d, Y" }}
                                            </small>
                                        </p>
                                    {% endif %}
                                    <a href="{% url 'blog_post' post.country|lower post.date_created|date:'Y' post.date_created|date:'m' post.date_created|date:'d' post.id post.slug %}"
                                        class="btn btn-primary bg-bt-primary-darkest">Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- all remaining post images -->
                <div class="row">
                    {% for image in images %}
                        {% if forloop.counter > 3 %}
                            <div class="col-4 mb-3">
                                <img src="{{ image.image.url }}" class="img-fluid h-100 blog-image-thumb" alt="{{ image.post.title }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}
