{% extends "base.html" %}

{% block css %}
    <!-- filepond -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">

        <!-- form data -->
        <div class="col-12 col-lg-10 col-xl-8 mx-auto py-5 px-2 px-md-5">
            <form id="post-form" method="POST" action="{% url 'post_new_images' post.id %}" enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset class="card shadow">
                    <legend class="card-header bg-bt-primary-darkest text-light text-center">Step 2: Upload Images</legend>

                    <div class="card-body">

                        <!-- form errors (if applicable) -->
                        <div id="form-errors" class="alert alert-danger mb-3 d-none">
                            Error: <span id="error-msg"></span>
                        </div>

                        <!-- remaining images left -->
                        <div id="image-counter" class="alert alert-success text-center mb-3">
                            You may upload up to {{ post.max_images }} image{% if post.max_images != 1 %}s{% endif %}.
                            <br>
                            You have <span id="images-remaining" class="fw-bold">{{ post.max_images }}</span> remaining.
                        </div>

                        <!-- filepond widget -->
                        <input type="file" id="image-upload" data-max-file-size="10MB" multiple>

                    </div>

                    <div class="card-footer bg-bt-primary-dark text-light">
                        <div class="row my-3">
                            <div class="col d-flex justify-content-around">
                                <!-- submit form -->
                                <span class="btn btn-primary position-relative mx-3" id="submit-btn">
                                    Upload Images
                                    <span id="image-count-btn" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"></span>
                                </span>
                                <!-- button to continue without uploading images -->
                                <a href="{% url 'post' post.country.name|slugify post.start_date|date:'Y' post.start_date|date:'m' post.start_date|date:'d' post.id post.slug %}"
                                    class="btn btn-warning">
                                    Skip
                                </a>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>

    </div>
</section>
{% endblock %}

{% block js %}

    <!-- filepond functionality -->
    {% include "blog/partials/filepond.html" %}

{% endblock %}
