{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta and extra meta -->
    {% include "partials/meta.html" %}
    {% block meta %}{% endblock %}

    <!-- css and extra css -->
    {% include "partials/css.html" %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!-- title -->
    <title>Binge Traveller</title>

    {% block head %}{% endblock %}
</head>

<body id="top">

    <!-- go to Top button -->
    <a href="#top" id="btn-top" class="bg-bt-primary text-center text-white text-shadow"><i class="fas fa-chevron-up"></i> TOP</a>

    <!-- preloader -->
    {% include "partials/preloader.html" %}

    <!-- overlay -->
    <aside id="overlay" class="hide"></aside>

    <!-- header / navbar -->
    {% include "partials/navbar.html" %}

    <!-- messages -->
    {% include "partials/messages.html" %}

    <!-- main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    {% include "partials/footer.html" %}

    <!-- banner for coookie -->
    {% include "partials/cookies_banner.html" %}

    <!-- js and extra js -->
    {% include "partials/scripts.html" %}
    {% block js %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
